<%- include partials/header %>
<%- include partials/nav %>

<form class="feild column is-one-third is-offset-4" method="POST" action="sign-up">
  <div class="control">
    <input class="input" type="text" name="name" placeholder="Name" />
    <input class="input" type="text" name="email" placeholder="Email" />
    <input class="input" type="text" name="password" placeholder="Password" />
    <button class="button" type="submit">Sign up</button>
  </div>
</form>

<%- include partials/footer %>
