<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Vinyl
    </a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item" href="/">
      Sign up
    </a>
    <a class="navbar-item" href="/sign-in">
      Sign in
    </a>
    <a class="navbar-item" href="/">
      Profile
    </a>
    <a class="navbar-item" href="/">
      Sign out
    </a>
  </div>
</nav>
