<article class="media">
  <div class="media-content">
    <div class="content">
      <%= review.content %><br />
      <%= review.user_id %><br />
      <%= review.created_on %>
    </div>
  </div>
</article>
